@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift');
@import url('https://fonts.googleapis.com/css2?family=Arimo');
@import url('https://fonts.googleapis.com/css2?family=Inter');

* {
  font-family: 'Inter';
  line-height: 1.4;
}

body {
  background-color: white;
  color: black;
  margin: 0;
  font-size: 16px;
  overflow: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

header {
  background-color: rgb(60, 80, 225);
}

header > nav {
  margin: 0;
  font-size: 24px;
  padding: 5px 0;
  height: 63px;
}

header > nav > div > a {
  margin: 10px 20px;
  color: white;
}

header > nav > div > a > span {
  margin-left: 10px;
}

.left-header-nav {
  text-align: left;
  width: 100%;
  display: inline-flex;
  overflow-x: hidden;
  /* float: left; */
}

.side-progress {
  width: 60px;
  min-width: 60px;
  height: 100%;
  max-height: calc(100vh - 24px - 2*5px - 2*10px - 9px);
  background-color: black;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.side-progress::-webkit-scrollbar {
  display: none;
}

.body-cont {
  background-color: green;
}

.main-cont {
  background-color: aquamarine;
  /* width: calc(100vw - 60px); */
  /* flex: 1 1 auto;
  flex-wrap: wrap; */
}

.work-cont {
  background-color: aquamarine;
  flex: 1 1 auto;
  flex-wrap: wrap;
  max-width: calc(100vw - 60px);
}

.statements {
  width: 430px;
  max-width: 100%;
  height: 100%;
  background-color: blue;
  overflow: auto;
}

.code-spaces {
  width: 250px;
  max-width: 100%;
  height: 100%;
  background-color: yellow;
  overflow: auto;
  /* display: none; */
}

.side-icon {
  width: 36px;
  margin: 12px;
  border-radius: 18px;
}

/* Testings */

.test-div {
  background-color: gray;
  width: 100px;
  height: 200px;
}